.custom-scrollbar::-webkit-scrollbar {
    width: 12px ;
  }
  
  .custom-scrollbar::-webkit-scrollbar-track {
    background: #2f2f2f; 
    border-radius: 0px;
  }
  
  .custom-scrollbar::-webkit-scrollbar-thumb {
    background-color: #444654; 
    border-radius: 50px;
    border: 1px solid #2F2F2F; 
  }
  
  /* .custom-scrollbar {
    scrollbar-width: 12px ;
    scrollbar-color: #444654 #2f2f2f00;
  } */

  .custom-scrollbar a{
    color: white;
    text-decoration: underline;
  }

  @keyframes rotate {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
  }
  
  .rotating-star {
    animation: rotate 2s linear infinite;
  }